@font-face {
    unicode-range: U+0000-007F;
    src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
    font-family: "Nunito";
}

@font-face {
    unicode-range: U+0E00-0E7F;
    src: url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;1,200;1,300&display=swap');
    font-family: "Kanit";
}

@font-face {
    unicode-range: U+0E00-0E7F;
    src: url('https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,300;0,400;1,300;1,400&display=swap');
    font-family: "Sarabun";
}

@font-face {
    unicode-range: U+4E00-9FBF, U+3040-309F, U+30A0-30FF;
    src: url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400&display=swap');
    font-family: "Noto Serif JP"
}

body { 
    overflow-y:scroll;  
    // font-family: "Nunito", 'Sarabun', "Noto Serif JP", serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", 'Kanit', "Noto Serif JP", sans-serif;
    font-weight: 400;
}

article.main-div {
    font-family: "Nunito", 'Sarabun', "Noto Serif JP", sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.info-card .info-card-body {
    font-family: "Nunito", 'Sarabun', "Noto Serif JP", sans-serif;
    font-weight: 300;
}


.post-nav-contents {
    font-family: "Nunito", 'Kanit', "Noto Serif JP", sans-serif;
    font-weight: 300;
}

.footer {
    font-family: "Nunito", 'Kanit', "Noto Serif JP", sans-serif;
    font-weight: 300;
}

a {
    font-weight: 400
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}


::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #8e2de2, #4a00e0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}